@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen&family=Sixtyfour&display=swap');

body {
  background-color: rgb(49, 49, 49);
  background-image: url(assets/stardust.png);
  background-attachment: fixed;
  color: #c9c9c9;
  font-family: 'DM Mono', monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
}

.index {
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.inner-container {
    padding: 2.5rem;
    line-height: 1.8;
}

main {
  background: rgba(44, 28, 56, 0.219);
  border-radius: 20px 0px;
  overflow-y: auto;
  width: 100%;
  line-height: 1.5;
}

strong {
  background-image: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  font-family: 'Doto', monospace;
  background-clip: text;
  color: transparent;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 20px;
  background-size: 100% 100%;
}

em {
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  background: rgba(132, 106, 217, 1);
  border-radius: 2.5px 0px;
  padding: 5px;
}

blockquote {
  color: rgb(160, 220, 255);
  letter-spacing: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

hr {
  border: none;
  height: 4px;
  background: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  margin: 2em 0;
}

h1 {
  color: #fff9c8;
  background-image: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  border-radius: 20px 0px;
  font-family: 'Doto', monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 0.1em;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:hover {
  text-decoration: none;
  color: #fff9c8 !important;
}

h2 { 
  font-family: 'Silkscreen', monospace;
  font-size: 36px;
  color: #fff;
  margin: 0;
}

h3 {
  font-family: 'Silkscreen', monospace;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.1em;
}



footer {
  margin: 2rem 0;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  font-family: 'Silkscreen', monospace;
  align-items: center;
  justify-content: space-around;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
  margin-bottom: 1rem;
}

nav a {
  text-align: center;
  padding: 0.5rem;
  width: 20%;
  border-radius: 2px;
}

a, a:link, a:visited, a:active {
  color: white !important;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

a:hover {
  background-image: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

a:hover.enter-link {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: glitchy-text 0.4s infinite;
}

@keyframes glitchy-text {
  0% {
    transform: none;
    text-shadow: none;
  }
  15% {
    transform: translate(-1px, 0) skewX(-5deg);
    text-shadow: 2px 0 rgb(100, 100, 255);
  }
  30% {
    transform: translate(1px, 1px) skewX(5deg);
    text-shadow: rgb(255, 255, 255);
  }
  45% {
    transform: translate(-2px, -1px) skewX(-3deg);
    text-shadow: 2px 0 rgb(0, 200, 120);
  }
  60% {
    transform: translate(1px, -2px) skewX(4deg);
    text-shadow: -2px 0 rgb(255, 18, 176);
  }
  75% {
    transform: translate(-1px, 1px) skewX(-5deg);
    text-shadow: 2px 0 rgb(50, 180, 255);
  }
  100% {
    transform: none;
    text-shadow: none;
  }
}

.rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  max-width: 1000px;
}

.imgfloat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imgfloat img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.image-wrapper {
  flex: 0 0 auto;
  display: flex;
}

.image-wrapper img {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}

.site-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.j-header {
  display: inline-block;
  margin-bottom: 2rem;
  width: auto;
}

.j-meta {
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  background: rgba(132, 106, 217, 1);
  border-radius: 2.5px 0px;
  padding: 5px;
  width: auto;
}

.j-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 10px;
}











