@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen&family=Sixtyfour&display=swap');

body {
  background-color: rgb(49, 49, 49);
  background-image: url(assets/stardust.png);
  background-attachment: fixed;
  color: #c9c9c9;
  font-family: 'DM Mono', monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  align-items: center;
}

main, article {
  padding: 2rem;
}

article {
  line-height: 1.8;
}

section {
  background: rgba(44, 28, 56, 0.219);
  border-radius: 20px 0px;
  overflow-y: auto;
  width: 100%;
}

strong {
  background-image: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  font-family: 'Doto', monospace;
  background-clip: text;
  color: transparent;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 20px;
  background-size: 100% 100%;
}

hr {
  border: none;
  height: 4px;
  background: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  margin: 2em 0;
}

h1 {
  color: #fff9c8;
  background-image: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  border-radius: 20px 0px;
  font-family: 'Doto', monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 0.1em;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}

h2 { 
  font-family: 'Silkscreen', monospace;
  font-size: 36px;
  margin: 1rem 0;
  color: #fff;
}

h3 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between !important;
  width: 100%;
}

footer {
  margin: 2rem 0;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  font-family: 'Silkscreen', monospace;
  align-items: center;
  justify-content: space-between;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
  margin-bottom: 1rem;
}

a:link, a:visited, a:active {
  color:rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 0.5rem;
  width: 20%;
  border-radius: 2px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}


a:hover {
  background-image: linear-gradient(to right, rgb(100, 100, 255), rgb(50, 180, 255), rgb(0, 200, 120));
  background-clip: text;
  color: transparent;
}

#index {
  max-width: 500px;
  text-align: center;
}

.container-x {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.container-y {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
}

.imgfloat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imgfloat img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.blogpostsummary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 10px;
}

.blogtitledate {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}
