---
layout: default
title: "j o u r n a l ★ s p a c e"
---

<section>
  <h1>Journal</h1>
  <p>You've made it three layers deep. Here lies <strong>JOURNALSPACE</strong>.</p>
  <p>Some of these entries are creative exercises, but the majority exist to document my emotional processing and the work of understanding myself better. First and foremost, this <strong>space</strong> is mine — I make no effort to sanitize my thoughts, feelings, or word choices. If you choose to engage, I expect that you'll do so with respect.</p>
  <p><em>SUBSCRIBE:</em><a href="https://chromonospace.substack.com/">SUBSTACK</a> | <a href="/feed.xml">RSS</a></p><hr>
  {% assign total = site.posts | size %}
  {% for post in site.posts %}
    {% assign n = total | minus: forloop.index0 | minus: 1 %}
    <div class="j-summary">
      <span>
        {% if n < 10 %}#00{{ n }}{% elsif n < 100 %}#0{{ n }}{% else %}#{{ n }}{% endif %} 
        <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
      </span>
      <span>{{ post.date | date: "%Y.%m.%d" }}</span>
    </div>
  {% endfor %}
</section>
