---
layout: default
title: "j o u r n a l ★ s p a c e"
---

<section>
  <h2>Journal</h2>
  <hr>

  {% assign total = site.posts | size %}
  {% for post in site.posts %} {# newest → oldest #}
    {% assign n = total | minus: forloop.index0 | minus: 1 %} {# index from oldest #}
    <div class="j-summary">
      <span>
        #{% if n < 10 %}00{% elsif n < 100 %}0{% endif %}{{ n }} ||
        <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
      </span>
      <span>{{ post.date | date: "%Y.%m.%d" }}</span>
    </div>
  {% endfor %}
</section>
