<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=1024">
    <link href="{{ '/style.css' | relative_url }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">
</head>
<body>
    <div class="container">
        {% include header.html %}
        <section>
            {{ content }}
        </section>
        <footer></footer>
    </div>
    <script src="{{ '/script.js' | relative_url }}"></script>
</body>
</html>
