---
layout: default
title: "j o u r n a l ★ s p a c e"
---
<article>
  <div class="j-header">
    <h2>{{ page.title }}</h2>
    <span class="j-meta">{{ page.date | date: "%B %d, %Y" }}</span>
  </div>

  <div class="j-content">
    {{ content }}
  </div>

  <nav class="j-nav">
    {% assign all_posts = site.posts | reverse %} <!-- oldest first -->
    {% for post in all_posts %}
      {% if post.url == page.url %}
        {% assign current_index = forloop.index0 %}
      {% endif %}
    {% endfor %}

    {% assign prev_index = current_index | minus: 1 %}
    {% assign next_index = current_index | plus: 1 %}

    {% if prev_index >= 0 %}
      {% assign prev_post = all_posts[prev_index] %}
      <a class="prev-post" href="{{ prev_post.url }}">#{{ prev_index | prepend: "000" | slice: -3 }}</a>
    {% endif %}

    {% if next_index < all_posts.size %}
      {% assign next_post = all_posts[next_index] %}
      <a class="next-post" href="{{ next_post.url }}">#{{ next_index | prepend: "000" | slice: -3 }}</a>
    {% endif %}
  </nav>
</article>
