---
layout: default
title: "j o u r n a l ★ s p a c e"
---

<article>
  <div class="j-header">
    <h2>{{ page.title }}</h2>
    <span class="j-meta">{{ page.date | date: "%B %d, %Y" }}</span>
  </div>

  <div class="j-content">
    {{ content }}
  </div>

  <nav class="j-nav">
    {% if page.previous %}
      <div class="j-nav-left">
        <a class="prev-post" href="{{ page.previous.url }}">Previous</a>
      </div>
    {% endif %}

    {% if page.next %}
      <div class="j-nav-right">
        <a class="next-post" href="{{ page.next.url }}">Next</a>
      </div>
    {% endif %}
  </nav>
</article>
